.section-background-chidren-homepage {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(247, 247, 247, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(img/pozadi_detska-titulka.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.img-uvod {
  height: 50vh;
  position: absolute;
}

.img-uvod:hover {
  transform: scale(1.2);
}

/* kočka */

.img-uvod--1 {
  height: 46vh;
  bottom: 0vmin;
  right: 78vmin;
}

/* panda */

.img-uvod--2 {
  height: 40vh;
  bottom: 5vmin;
  right: 5vmin;
}

/* tygr */

.img-uvod--3 {
  height: 45vh;
  bottom: 3vmin;
  right: 39vmin;
}

/* bubliny */

.bubble {
  position: absolute;
  height: 20vh;
}

.bubble--left {
  bottom: 41vmin;
  right: 109vmin;
}

.bubble--rotate {
  bottom: 45vmin;
  right: 43vmin;
  transform: rotate(-10deg);
}

.bubble--right {
  bottom: 43vmin;
  right: 3vmin;
}

.bed {
  position: absolute;
  height: 15vh;
  bottom: 44vmin;
  right: 112vmin;
}

.cubes {
  position: absolute;
  height: 10vh;
  bottom: 51vmin;
  right: 46vmin;
}

.swing {
  position: absolute;
  height: 11vh;
  bottom: 49vmin;
  right: 7vmin;
}
