.section-background-cat {
  width: 100vw;
  height: 100vh;
  background-image: url(img/pozadi_kocka_var2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.img-cat-intro {
  height: 55vh;
  position: absolute;
  bottom: 19vmin;
  left: 59vmin;
}

.img-cat-fear {
  height: 55vh;
  position: absolute;
  bottom: 19vmin;
  left: 59vmin;
}

.img-cat-breath {
  height: 55vh;
  position: absolute;
  bottom: 19vmin;
  left: 59vmin;
}

.img-cat-think {
  height: 55vh;
  position: absolute;
  bottom: 19vmin;
  left: 59vmin;
}
