.section-background-cat {
  width: 100vw;
  height: 100vh;
  background-image: url(img/pozadi_kocka_var2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.img-cat-intro {
  height: 55vh;
  position: absolute;
  bottom: 19vmin;
  left: 59vmin;
}

.img-cat-angry {
  height: 80vh;
  position: absolute;
  right: -6vmin;
  bottom: -18vmin;
}

.img-cat-breath {
  height: 47vh;
  position: absolute;
  right: 20vmin;
  bottom: 1vmin;
}

.img-cat-think {
  height: 47vh;
  position: absolute;
  right: 20vmin;
  bottom: 1vmin;
}
