*, ::before, ::after{ box-sizing: border-box;}


.section {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: grid;
    justify-content: center;
    align-items: center;
}

.img--center {
    width: 20vw;
}

.img--center:hover {
    animation: zvetseni 3s infinite;
}

@keyframes zvetseni {
    0%, 100% {
      transform: scale(1);
    }
    33% {
      transform: scale(1.3);
    }
    66% {
      transform: scale(1.3);
    }
  }