@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap");

:root {
  --background-color: #47929c;
  --primary-color: #675555;
  --primary-color-hover: #8bc343;
  --secondary-color: #fff;
  --secondarycolor-hover: #8bc343;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  overflow: hidden;
  color: var(--secondary-color);
  background-color: var(--background-color);
  height: 100vh;
}

main {
  height: 100%;
}

.section {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.audio-box {
  display: none;
}

@media screen and (min-width: 900px) {
  .audio-box {
    display: block;
    position: absolute;
    top: 1vmin;
    right: 30vmin;
  }
}

/* BUTTONS */

.button {
  display: inline-block;
  padding: clamp(0.3rem, 2vw, 1.5rem) clamp(1rem, 4vw, 3.2rem);
  font-size: clamp(1.2rem, 2vw, 2.5rem);
  border-radius: 30px;
  text-decoration: none;
  font-family: "Life Savers", serif;
  transform: scale(1);
  color: var(--secondary-color);
}

.button--primary {
  background-color: var(--primary-color);
  transition: background-color 0.3s, transform 0.3s;
}

.button--primary:hover {
  background-color: var(--primary-color-hover);
  color: var(--primary-color);
  transform: scale(1.07);
}

.button--secondary {
  background-color: var(--secondary-color);
  transition: background-color 0.3s, transform 0.3s;
  color: var(--primary-color);
}

.button--secondary:hover {
  color: var(--secondary-color);
  background-color: var(--secondarycolor-hover);
  transform: scale(1.07);
}


/* pouze pro zkoušku */

.button--small {
  padding: clamp(0.3rem, 2vw, 0.9rem) clamp(1rem, 3vw, 2rem);
  font-size: clamp(1rem, 2vw, 1.6rem);
  background-color: #675555b4;
}

.button--small:hover {
  transform: scale(1.1);
}

/* SWIPE BUTTONY (posouvátka) */

.swipe-button {
  position: absolute;
}

.swipe-button--1 {
  position: absolute;
  top: 5vmin;
  left: 5vmin;
}

.swipe-button--2 {
  position: absolute;
  top: 5vmin;
  right: 5vmin;
}

.swipe-button__base {
  height: 10vmin;
}

.swipe-button__home {
  position: absolute;
  height: 9vmin;
  top: 0.5vmin;
  left: 15vmin; /* bude se posouvat: left 1vmin */
}

.swipe-button__info {
  position: absolute;
  height: 9vmin;
  top: 0.5vmin;
  right: 15vmin; /* bude se posouvat: right 1vmin */
}

/* HOME-PAGE */

.home {
  max-width: 1200px;
  padding: 20px;
  color: white;
  text-align: center;
}

.home__content {
  padding-bottom: 3rem;
  padding-bottom: clamp(1rem, 3vw, 3rem);
}

.home__title {
  margin-top: 1.5rem;
  font-family: "Life Savers", serif;
  font-size: clamp(2.6rem, 5vw, 5rem);
  font-weight: 700;
}

.home__text {
  font-size: clamp(1rem, 3vw, 2rem);
}

.home__flex {
  flex-shrink: 0 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 3rem;
}

.home__img {
  position: absolute;
  height: 83vh;
}

.home__img--1 {
  top: -52vmin;
  left: -10vmin;
  transform: rotate(-180deg);
  animation: pohyb-do-L 12s infinite;
  animation-fill-mode: both;
}

.home__img--2 {
  left: -32vmin;
  bottom: -21vmin;
  transform: rotate(15deg);
  animation: pohyb-zdola 10s infinite;
  animation-delay: 14s;
  animation-fill-mode: both;
}

.home__img--3 {
  right: -63vmin;
  bottom: -6vmin;
  height: 105vh;
  transform: rotate(-15deg);
  animation: pohyb-zprava 6s infinite;
  animation-delay: 7s;
  animation-fill-mode: both;
}

@media screen and (min-width: 600px) {
  .home__text {
    padding: 0 6rem;
    max-width: 70vw;
  }

  .home__flex {
    flex-direction: row;
  }
}

/* UTILITIES */

.u-position-bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.u-position-top-right {
  position: absolute;
  top: 17vmin;
  right: 5vmin;
}

.u-padding-bottom {
  padding-bottom: 2rem;
}

/* ANIMACE */

@keyframes pohyb-dolu {
  0%,
  100% {
    top: -153vmin;
  }

  33% {
    top: -53vmin;
  }

  66% {
    top: -53vmin;
  }
}

@keyframes pohyb-do-L {
  0%,
  100% {
    top: -153vmin;
    left: -10vmin;
  }

  20% {
    top: -53vmin;
    left: -10vmin;
  }

  35% {
    top: -53vmin;
    left: -10vmin;
  }

  45% {
    top: -53vmin;
    left: 20vmin;
  }

  65% {
    top: -53vmin;
    left: 50vmin;
  }

  75% {
    top: -58vmin;
    left: 30vmin;
  }

  85% {
    top: -53vmin;
    left: -10vmin;
  }
}

@keyframes pohyb-zprava {
  0%,
  100% {
    right: -162vmin;
  }

  33% {
    right: -62vmin;
  }

  66% {
    right: -62vmin;
  }
}

@keyframes pohyb-zdola {
  0%,
  100% {
    bottom: -121vmin;
  }

  20% {
    bottom: -21vmin;
  }

  40% {
    bottom: -45vmin;
  }

  50% {
    bottom: -45vmin;
  }

  60% {
    bottom: -21vmin;
  }

  80% {
    bottom: -21vmin;
  }
}

@keyframes zmena-primary {
  0% {
    background-color: #8bc343;
    transform: scale(1);
  }
  80% {
    background-color: red;
    transform: scale(1.05);
  }

  100% {
    background-color: red;
    transform: scale(1.05);
  }
}

@keyframes zmena-secondary {
  0% {
    background-color: #fff;
    color: #8c8c8c;
    transform: scale(1);
  }
  80% {
    background-color: #508e24;
    color: white;
    transform: scale(1.05);
  }

  100% {
    background-color: #508e24;
    color: white;
    transform: scale(1.05);
  }
}
