@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap');

*, ::before, ::after{ box-sizing: border-box;}

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  overflow: hidden;
}

.section {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section--color-1 {
  background-color: #60B7C2;
}

.section--color-2 {
  background-color: aquamarine;
}

.button {
  display: inline-block;
  /*padding: 1.6rem 3.2rem;*/
  padding: clamp(0.9rem, 3vw, 1.6rem) clamp(1.6rem, 5vw, 3.2rem);
  font-size: clamp(1.5rem, 5vw, 2.5rem);;
  border-radius: 30px;
  text-decoration: none;
  font-family: 'Life Savers', serif;
  color: white;
}

.button--primary {
  /*background-color: #8BC343;*/
  background-color: #675555;
}

.button--primary:hover {
  animation: zmena-primary 1.2s;
  animation-fill-mode: both;
}

.button--secondary {
  background-color: #fff;
  color: #675555;
}

.button--secondary:hover {
  animation: zmena-secondary 1.2s;
  animation-fill-mode: both;
}


.home {
  max-width: 1200px;
  padding: 20px;
  color: white;
  text-align: center;
}

.home__content {
  padding-bottom: 3rem;
}

.home__title {
  margin-top: 1rem;
  font-family: 'Life Savers', serif;
  font-size: clamp(3rem, 7vw, 5rem);
  font-weight: 700;
}

.home__text {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.home__flex {
  flex-shrink: 0 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 3rem;
}

.img {
  position: absolute;
  height: 83vh;
}

.img--1 {
  top: -52vmin;
  left: -10vmin;
  transform: rotate(-180deg);
  /*animation: pohyb-dolu 4s infinite;*/
  animation: pohyb-do-L 12s infinite;
  animation-fill-mode: both;
}

.img--2 {
  left: -32vmin;
  bottom: -21vmin;
  transform: rotate(15deg);
  animation: pohyb-zdola 10s infinite;
  animation-delay: 14s;
  animation-fill-mode: both;
}

.img--3 {
  right: -63vmin;
  bottom: -6vmin;
  height: 105vh;
  transform: rotate(-15deg);
  animation: pohyb-zprava 6s infinite;
  animation-delay: 7s;
  animation-fill-mode: both;
}

@media screen and (min-width: 600px) {


  .home__text {
    padding: 0 6rem;
    max-width: 70vw;
  }

  .home__flex {
    flex-direction: row;
  }
}


.img--center {
    height: 80vh;
}

.img--center:hover {
    animation: nadech 4s infinite;
}

.zpet {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@keyframes nadech {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pohyb-dolu {
  0%, 100% {
    top: -153vmin;
  }

  33% {
    top: -53vmin;
  }

  66% {
    top: -53vmin;
  }
}

@keyframes pohyb-do-L {
  0%, 100% {
    top: -153vmin;
    left: -10vmin;
  }

  20% {
    top: -53vmin;
    left: -10vmin;
  }

  35% {
    top: -53vmin;
    left: -10vmin;
  }

  45% {
    top:  -53vmin;
    left: 20vmin
  }

  65% {
    top:  -53vmin;
    left: 50vmin
  }

  75% {
    top:  -58vmin;
    left: 30vmin
  }

  85% {
    top:  -53vmin;
    left: -10vmin
  }


}

@keyframes pohyb-zprava {
  0%, 100% {
    right: -162vmin;
  }

  33% {
    right: -62vmin;
  }

  66% {
    right: -62vmin;
  }
}

@keyframes pohyb-zdola {
  0%, 100% {
    bottom: -121vmin;
  }

  20% {
    bottom: -21vmin;
  }

  40% {
    bottom: -45vmin;
  }

  50% {
    bottom: -45vmin;
  }

  60% {
    bottom: -21vmin;
  }

  80% {
    bottom: -21vmin;
  }
}

@keyframes zmena-primary {
  0% {
    background-color: #8BC343;
    transform: scale(1.0);
  }
  80% {
    background-color: red;
    transform: scale(1.05);
  }

  100% {
    background-color: red;
    transform: scale(1.05);
  }
}

@keyframes zmena-secondary {
  0% {
    background-color: #fff;
    color: #8C8C8C;
    transform: scale(1.0);
  }
  80% {
    background-color: #508e24;
    color: white;
    transform: scale(1.05);
  }

  100% {
    background-color: #508e24;
    color: white;
    transform: scale(1.05);
  }
}