.section--background-tiger {
    background-image: linear-gradient(rgba(247, 247, 247, 0.3), rgba(255, 255, 255, 0.3)),url(img/pozadi_tygr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right -500px;
  }

.img--tiger {
    height: 80vh;
    position: absolute;
    right: -6vmin;
    bottom: -18vmin;
  }